@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    display: flex;
    margin: 0;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}

#main {
    width: 100%;
}

#content {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

#sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar-icon {
    padding: 2em;
    padding-top: 1.2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.sidebar-icon p {
    margin: 0 1em;
}

.sidebar-icon ion-icon {
    font-size: 2em;
}
#topbar {
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    height: 50%;
}

#search-wrapper {
    display: flex;
    height: 50%;
    
}

#topbar-icons {
    display: flex;
}

.topbar-icon ion-icon {
    font-size: 2em;
    padding: 0 0.3em;
}

#mic-icon {
    margin: 0 0.5em;
}

#mic-icon ion-icon {
    font-size: 1.7em;
}

#search-btn {
    padding: 0 0.7em;
    font-size: 1.3em;
    display: flex;
    align-items: center;
}

.content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    align-items: flex-start;
  }

.thumb {
    height: 13em;
    padding-top: 2.5em;
    padding-left: 2.5em;
    width: 22em;
  }
  
.logo {
    height: 3.8em;
    margin: 1;
    padding-top: 0;
  }

.titolo{
  padding-left: 4.8em;
  margin-top: -2.5em;
  display: flex;
  align-items: center;
}

.titolo h5 {
  margin-bottom: 0;
  font-size: large;
}

.titolo {
  margin-top: 0;
  font-size: 12px;
  flex: 1;
}